body {
	margin: 0;
	text-align: center;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

main {
	margin: 35px auto;
	width: 850px;
}

footer {
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .08em;
	padding: 0 20px;
	text-transform: uppercase;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

nav a {
	color: #FFFFFF;
}

img {
	margin: 40px 8px 0 8px;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	color: #0D2C40;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a {
	border-bottom: 2px solid transparent;
	color: #F15B31;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 20px;
	text-decoration: none;
}

a:hover {
	border-color: #FFFFFF;
}

p {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	line-height: 26px;
}

div {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
}

span {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	padding: 10px;
	text-align: center;
}
p a {

	display: inline-block;
	margin: 5px;
}

p a:hover {
	border-color: #F15B31;
}

br {
	line-height: 3em;
}
.copyright {
	float: left;
	font-family: "Raleway", sans-serif;
}

.message {
	float: right;
	font-family: "Raleway", sans-serif;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

/* css for reset button */
#button {
  padding-top: 40px;
  text-align: center;
}

.btn {
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 16px;
  text-decoration: none;
  margin: 8px;
  color: #FFFFFF;
  position: relative;
  display: inline-block;
}

.btn:focus {
	outline:0;
}

.orange {
  background-color: #F15B31;
}

.orange:hover {
  background-color: #00A6B3;
}
